.card{
  margin: 3px;
}
.card-container{
  margin: 3px;
 
}
.card-body{
  border: solid;
  background-color: aliceblue;
}
.Card-text{
  font-size: small;
  
}
.Card-title{
  text-align: center;
}
.heading{
  text-align: center;
}